In [3]:
# Requests, json e API
import requests
import pandas as pd
import json

In [5]:
chave = '8a4b0ef1'
api = 'http://www.omdbapi.com/?apikey={}&t={}'.format(chave,titulo)
dic = requests.get(api)

In [4]:
titulo = 'titanic'

In [5]:
fil

NameError: name 'fil' is not defined

In [6]:
dic.json()

{'Title': 'Titanic',
 'Year': '1997',
 'Rated': 'PG-13',
 'Released': '19 Dec 1997',
 'Runtime': '194 min',
 'Genre': 'Drama, Romance',
 'Director': 'James Cameron',
 'Writer': 'James Cameron',
 'Actors': 'Leonardo DiCaprio, Kate Winslet, Billy Zane',
 'Plot': 'A seventeen-year-old aristocrat falls in love with a kind but poor artist aboard the luxurious, ill-fated R.M.S. Titanic.',
 'Language': 'English, Swedish, Italian, French',
 'Country': 'United States, Mexico, Australia',
 'Awards': 'Won 11 Oscars. 125 wins & 83 nominations total',
 'Poster': 'https://m.media-amazon.com/images/M/MV5BMDdmZGU3NDQtY2E5My00ZTliLWIzOTUtMTY4ZGI1YjdiNjk3XkEyXkFqcGdeQXVyNTA4NzY1MzY@._V1_SX300.jpg',
 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '7.8/10'},
  {'Source': 'Metacritic', 'Value': '75/100'}],
 'Metascore': '75',
 'imdbRating': '7.8',
 'imdbVotes': '1,087,852',
 'imdbID': 'tt0120338',
 'Type': 'movie',
 'DVD': '08 Jan 2002',
 'BoxOffice': '$659,363,944',
 'Production': '20th Century Fox, Lightstorm Entertainment, Paramount Pictures',
 'Website': 'N/A',
 'Response': 'True'}

In [7]:
a = dic.json()

In [8]:
df = pd.DataFrame(a)

In [9]:
df

,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,Plot,...,Metascore,imdbRating,imdbVotes,imdbID,Type,DVD,BoxOffice,Production,Website,Response
0,Titanic,1997,PG-13,19 Dec 1997,194 min,"Drama, Romance",James Cameron,James Cameron,"Leonardo DiCaprio, Kate Winslet, Billy Zane",A seventeen-year-old aristocrat falls in love ...,...,75,7.8,"1,087,852",tt0120338,movie,08 Jan 2002,"$659,363,944","20th Century Fox, Lightstorm Entertainment, Pa...",N/A,True
1,Titanic,1997,PG-13,19 Dec 1997,194 min,"Drama, Romance",James Cameron,James Cameron,"Leonardo DiCaprio, Kate Winslet, Billy Zane",A seventeen-year-old aristocrat falls in love ...,...,75,7.8,"1,087,852",tt0120338,movie,08 Jan 2002,"$659,363,944","20th Century Fox, Lightstorm Entertainment, Pa...",N/A,True